# Porte esposte sul computer
FRONTEND_PORT=5173
API_PORT=8080
PHPMYADMIN_PORT=8081

# Database didattico
DB_DATABASE=db_tester
DB_USERNAME=utente
DB_PASSWORD=alcol_tester_2026_s5DbRe672Gvcdp54Dff
DB_ROOT_PASSWORD=alcol_tester_root_2026_a6sDCe324sdjkACCf2Z

# Deploy con Kamal
KAMAL_HOST= # Inserire l'IP pubblico del server su cui si vuole fare il deploy
KAMAL_DOMAIN= # Inserire il dominio su cui si vuole fare il deploy (es. tester.alcol.com)
KAMAL_REGISTRY_SERVER=ghcr.io
KAMAL_IMAGE=MarcoMagno777/Alcol_Tester
KAMAL_REGISTRY_USERNAME=MarcoMagno777
KAMAL_REGISTRY_PASSWORD=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
